/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 body {
 	position: relative;
 	background-color: #FFF;
 	font-size: 16px;
 }

 .navbar-default {
 	.navbar-brand {
 	 position: relative;
 	 font-weight: bold;
 	 font-size: 22px;
 	}
 	background-color: #FFF;
 }
 
 #toTop {
 	position: fixed;
  width: 54px;
  height: 54px;
  right: 30px;
  background-color: #999;
  z-index: 9990 !important;
  border-radius: 54px;
  color: #FFF;
  display: inline-block;
  bottom: 20px;

  i {
   position: relative;
   font-size: 27px;
   padding: 13px;
   padding-left: 15px;
  }
 }

 .bold {
 	position: relative;
 	font-weight: bold;
 }